---
layout: default
title: More of my music
description: Or rather more of my experiences with music
firstCreated: 2022/07/19
lastChanged: 2024/10/28
---
<!-- title and subtitle -->
<div>
	<h2><u>You're now reading: my music.</u></h2>
	<h4>Hopefully every single thing i've done, big and small, for any reason<br>
	Click/tap <a href="https://epk.onlyerfans.com">here</a> instead if you want to read about my experiences from a more <span style="font-family: 'Times New Roman', Times, serif;">professional</span> standpoint</h4>
</div>

<br><br>

<!-- foreword -->
<div>
	<h3>Foreword</h3>
	<p>I've done a fair bit of music related things since i was a child. As a result of that, i've done things that i'm both proud and not so proud to have done and that's why i don't bring it up much. But i have to acknowledge that i've done them and try to keep track of what i've been up to for most of my life. Mostly to make resume writing and job applications easier on myself.</p>
	<p style="text-indent: 50px;">I'll try to keep the list comprehensive but i'm not going to list out every single recurring weekly recording session or bargig as seperate bullet points. i also started writing this in 2022, so some things i've done far in the past have begun to slip away from my memory.</p>
</div>

<br>

<!-- unremembered
<div>
	<h3>Unremembered</h3>
	<p>I can't remember when or in what capacity i've done these</p>
	<ul>
		<li>that one jam along jalan satok didi asked for my help with (2018?)</li>
		<li>that one ramah tamah at pusat sumber kampong no 2 (2013?)</li>
		<li>prom band with shanaav, akmal, nayim, ilyas and hara (2019?)</li>
		<li>PSM stuff
			<ul>
				<li>end of year concerts</li>
				<li>china</li>
				<li>germany</li>
				<li>kazakhstan</li>
				<li>dubai<li>
			</ul>
		</li>
		<li>whatever ABRSM/LCM certificates i got
			<ul>
				<li>piano ABRSM 1-8, DipLCM, ALCM</li>
				<li>violin ABRSM 1-8, DipLCM</li>
				<li>theory ABRSM 1-8</li>
			</ul>
		</li>
	</ul>
</div>

<br>
-->

<!-- unreleased -->
<div>
	<h3>Upcoming/Unreleased/In production</h3>
	<ul>
		<li>Projects headed by {% include people/saraEntertainment.html %}</li>
		<li>Gigs with {% include people/mozek.html %}</li>
		<li>Gigs with {% include people/adruce.html %}</li>
		<li>Project(s) headed by {% include people/adruce.html %}</li>
		<li>Project    headed by {% include people/vianmedia.html %}</li>
		<li>Other projects i'm not sure if i'm allowed to talk about</li>
	</ul>
</div>

<br>

<!-- stalled
<div>
	<h3>Stalled</h3>
	<p>Projects that have their work paused and have no resume in sight</p>
	<ul>
		<li>Project headed by {% include people/alisa.html %}</li>
		<li>Project headed by <a href="https://www.instagram.com/alexngwhng/">Alex Ng</a></li>
		<li>Project headed by Aiysha</li>
		<li>Project headed by Meeya</li>
		<li>Project headed by <a href="https://www.instagram.com/fleursteff/">Steff Fleur</a></li>
		<li>Project headed by <a href="https://www.instagram.com/dayton.bada/">Dayton Bada</a></li>
		<li>Project headed by Roy Nading</li>
	</ul>
</div>

<br>
-->

<!-- entry format: ROLE (for PEOPLE) at AGENDA at PLACE alongside/with PEOPLE -->

<!-- 2024 -->
<div>
	<h3>2024</h3>
	<ul>
		<li>messed around with friends at open mics hosted by {% include people/reening.html %}</li>
		<li>various roles for various projects under {% include people/saraEntertainment.html %} and {% include people/rechaus.html %}</li>
		<li>keyboardist at random bargigs with musicians around Kuching 
			<ul>
				<li>some locations include but are not limited to...
					<ul>
						<li>{% include places/bachelor.html %}</li>
						<li>{% include places/borneoHotel.html %}</li>
						<li>{% include places/sakugei.html %}</li>
						<li>{% include places/starOnStage.html %}</li>
						<li>{% include places/riversideKch.html %}</li>
					</ul>
				</li>
				<li>some musicians include but are not limited to...
					<ul>
						<li>{% include people/nigel.html %}</li>
						<li>{% include people/ivando.html%}</li>
						<li>{% include people/raquel.html %}</li>
						<li>{% include people/fransiska.html %}</li>
						<li>{% include people/alexMunan.html %}</li>
						<li>{% include people/sharon.html %}</li>
						<li>{% include people/ivanTimeSig.html %}</li>
						<li>{% include people/bobDrummer.html %}</li>
						<li>{% include people/fifiAdam.html %}</li>
						<li>{% include people/maxAdam.html %}</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>pianist at some kinda showroom showcase at {% include places/laprom.html %} alongisde {% include people/armand.html %}</li>
		<li>keyboardist for {% include people/adruce.html %}'s and {% include people/lauraMunan.html %}'s slots at {% include events/lanBerambeh.html %} 2024 at {% include places/mitec.html %} alongside their sessionists</li>
		<li>keyboardist at a chaotic jam with {% include people/somethingLikeThat.html %} at {% include places/jakmaan.html %} alongside other random musicians in town</li>
		<li>keyboardist/pianist at {% include people/adruce.html %}'s EP Launch at {% include places/SMA.html %} alongside his band</li>
		<li>keyboardist with/for {% include people/mozek.html %} for several days at {% include places/laprom.html %}'s <a href="https://www.instagram.com/reel/C_zsN_bvJJy/">Oktoberfest 2024</a></li>
		<li>keyboardist at some kind of <a href="https://www.sarawakenergy.com/">SEB</a> function alongside {% include people/adruce.html %} and {% include people/razak.html %}</li>
		<li>solo violinist at a <a href="https://sarawakskills.edu.my/">Sarawak Skills</a> event</li>
		<li>keyboardist at a wedding at {% include places/dbna.html %} alongside {% include people/tiff.html %} and {% include people/alexMunan.html %}</li>
		<li>keyboardist at a wedding at {% include places/oldCourtHouse.html %} alongside {% include people/adruce.html %} and {% include people/razak.html %}</li>
		<li>keyboardist and playback tech for {% include people/faith.html %} at <a href="https://www.instagram.com/p/C-HgEmyyrx7/?img_index=1">her slot</a> at <a href="https://www.instagram.com/wakxmiri/">WAKxMiri</a> alongside the rest of her band</li>
		<li>keyboardist at corporate dinner at {% include places/oldCourtHouse.html %} alongside {% include people/fransiska.html %}</li>
		<li>keyboardist for {% include people/jayc.html%} and {% include people/roxy.html%} at <a href="https://www.instagram.com/p/C9eJM1dyKNj/">Mini Film Festival</a>'s last day award ceremony at {% include places/laprom.html %} alongisde the rest of the band</li>
		<li>keyboardist and crew for {% include people/saraEntertainment.html %}'s press conference with {% include people/rusaMusic.html %} at {% include places/starOnStage.html %}</li>
		<li>renewed my contract with {% include people/saraEntertainment.html %}</li>
		<li>keyboardist at a corporate dinner at {% include places/sarawakClub.html %} alongside {% include people/jalee.html %} and {% include people/alia.html%}</li>
		<li>keyboardist at some kind of anime convention at the {% include places/pustaka.html %} alongside jo, waie & ash</li>
		<li>randomly jammed for a couple songs at {% include places/tdNh.html %} with people i didn't know haha</li>
		<li>keyboardist for {% include people/adruce.html %} at a wedding gig at the {% include places/raiaKch.html %} alongside his band</li>
		<li>keyboardist for a wedding at the {% include places/waterfrontKch.html %} alongside {% include people/mozek.html %}</li>
		<li>keyboardist for a corporate dinner at {% include places/sheratonKch.html %} alongside {% include people/jalee.html %} and {% include people/razak.html %}</li>
		<li>keyboardist for a corporate event at the {% include places/kingWoodHotelSibu.html %} alongside musicians hired by {% include people/mStudios.html %}</li>
		<li>keyboardist for {% include people/adruce.html %}'s slot at <a href="https://www.instagram.com/thestagesibu/">the Stage Sibu</a> alongside Adruce's band</li>
		<li>keyboardist at Martin and Joann's wedding at {% include places/oldCourtHouse.html %} alongisde {% include people/reening.html %} and {% include people/fransiska.html %}</li>
		<li>keyboardist/pianist at {% include people/rechaus.html %}'s relaunch alongside various in-house artists and hired sessionists</li>
		<li>keyboardist at some kinda {% include people/rotaryClub.html %} thing at under {% include people/prodigy.html %}</li>
		<li>keyboardist at some kinda {% include people/rotaryClub.html %} thing at alongside {% include people/reening.html %} and {% include people/fransiska.html %}</li>
		<li>keyboardist for {% include people/faith.html %} and {% include people/lauraMunan.html %}'s performances at Laura's <a href="https://www.instagram.com/p/C6bOHJ6vzI9/">EP Launch concert</a></li>
		<li>pianist for {% include people/3dinda.html %}'s <a href="https://www.instagram.com/p/C6VFDkiv2Lj/">show</a> at {% include places/zinc.html %}</li>
		<li>keyboardist for {% include people/adruce.html %} at a corporate raya thing at {% include places/teaHouseMargherita.html %}</li>
		<li>pianist at naim's raya lunch thing alongside musicians under {% include people/prodigy.html %}</li>
		<li>keyboardist for {% include people/adruce.html %} at a corporate raya dinner at TEGAS</li>
		<li>keyboardist for {% include people/adruce.html %} and {% include people/steff.html %}'s slots at {% include events/microwaveSibu.html %}</li>
		<li>keyboardist for {% include people/adruce.html %}'s slot at <a href="https://www.instagram.com/p/C4mIf3DvFNb/">kamboh raya</a></li>
		<li>keyboardist for a tropical themed corporate dinner at {% include places/grandRiverine.html %} alonside {% include people/ivando.html %} and {% include people/fransiska.html %}</li>
		<li>pianist for a few raya recordings ran by {% include people/saramusic.html %}</li>
		<li>keyboardist at a beach themed corporate dinner alongside {% include people/ivando.html %} and {% include people/fransiska.html %}</li>
		<li>keyboardist at <a href="https://www.instagram.com/p/C32CnM6vOg8/">A Jay Chou tribute show</a> alongside {% include people/ivando.html %}, {% include people/randie.html %} and {% include people/reening.html %}</li>
		<li>keyboardist for a couple artists with {% include people/saramusic.html %} for <a href="https://www.instagram.com/p/C4mIf3DvFNb/">kamboh raya</a></li>
		<li>helped out a little with {% include people/dell.html %}'s <a href="https://www.instagram.com/p/C4aWdplvQ5i/">untitled session</a></li>
		<li>keyboardist at <a href="https://web.archive.org/web/20240313094118/https://jemputan.me/2890/athirah-sofi">sofi and athirah's wedding</a> at {% include places/dewanHikmah.html %} alongside jeeb</li>
		<li>pianist at naim's cny open day thing alongside musicians with {% include people/prodigy.html %}</li>
		<li>volunteered to man the tickets at {% include people/saramusic.html %}'s <a href="https://www.instagram.com/p/C1s9AIryNyD/">Malam Piluk</a></li>
		<li>keyboardist at ted and vanessa's wedding at the {% include places/waterfrontKch.html %} alongside {% include people/mozek.html %}</li>
		<li>keyboardist at a corporate dinner at the {% include places/grandRiverine.html %} alongside {% include people/dell.html %} and {% include people/nigel.html %}</li>
		<li>keyboardist at eric and ellienza's wedding at {% include places/sarawakClub.html %} alongside {% include people/ivando.html %} and {% include people/louise.html %} under {% include people/funccc.html %}</li>
		<li>keyboardist at <a href="https://web.archive.org/web/20240105104059/https://sites.google.com/view/aaronbeatrice/aaron-and-beatrice">aaron and beatrice's wedding</a> at the {% include places/hiltonKch.html %} alongside {% include people/roxy.html %}</li>
		<li>watched over a jamming space booking at {% include places/aok.html %} that one time</li>
		<li>joined {% include people/rechaus.html %}, {% include people/saramusic.html %} and {% include people/saraEntertainment.html %} fulltime primarily as a keyboardist sessionist and arranger</li>
	</ul>
</div>

<br>

<!-- 2023 -->
<div>
	<h3>2023</h3>
	<ul>
		<li>messed around with friends at open mics hosted by {% include people/reening.html %}</li>
		<li>written up random leadsheets for musical acts whenever they request them</li>
		<li>keyboardist at random bargigs with musicians around Kuching 
			<ul>
				<li>some locations include but are not limited to...
					<ul>
						<li>{% include places/junkbackstage.html %}</li>
						<li>{% include places/chabo.html %}</li>
						<li>{% include places/livehouse.html %}</li>
						<li>{% include places/tiesta.html %}</li>
						<li>{% include places/rajah.html %}</li>
						<li>{% include places/ikki.html %}</li>
						<li>{% include places/boni.html %}</li>
						<li>{% include places/bachelor.html %}</li>
						<li>{% include places/boey.html %}</li>
						<li>the {% include places/borneoHotel.html %}</li>
						<li>{% include places/bgnvla.html %}</li>
						<li>{% include places/lidostar.html %}</li>
					</ul>
				</li>
				<li>some musicians include but are not limited to...
					<ul>
						<li>{% include people/ivando.html %}</li>
						<li>{% include people/raquel.html %}</li>
						<li>{% include people/jang.html %}</li>
						<li>{% include people/sharon.html %}</li>
						<li>Max Adam & {% include people/fifiAdam.html %}</li>
						<li>{% include people/alexMunan.html %}</li>
						<li>{% include people/razak.html %}</li>
						<li>{% include people/elliza.html %}</li>
						<li>{% include people/jayc.html%}</li>
						<li>{% include people/roxy.html%}</li>
						<li>{% include people/graceHarmonix.html %}, {% include people/edric.html %} and {% include people/stanleyHarmonix.html %} from {% include people/harmonix.html %}</li>
						<li>{% include people/mae.html%}</li>
						<li>{% include people/summer.html%}</li>
						<li>{% include people/alia.html%}</li>
						<li>{% include people/adruce.html %}</li>
						<li>{% include people/ivy.html%}</li>
						<li>{% include people/valerie.html%}</li>
						<li>Simon</li>
						<li>{% include people/bona.html%}</li>
						<li>{% include people/ching.html%}</li>
						<li>{% include people/marlton.html%}</li>
						<li>{% include people/nolan.html%}</li>
						<li>{% include people/randie.html%}</li>
						<li>{% include people/reening.html %}</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>keyboardist at an event i didn't quite understand at {% include places/21bistro.html %} for the {% include people/jumpz.html %}, alongside {% include people/soulfide.html %} and {% include people/buffalo.html %}</li>
		<li>pianist/keyboardist for several christmas performances at various venues with several choir singers under {% include people/gmusic.html %}</li>
		<li>keyboardist at wilson and christina's wedding at the {% include places/pullmanKch.html %} alongside {% include people/ivando.html%} and {% include people/mozek.html %}</li>
		<li>composer and pianist for a song set to esther's poetry at <a href="https://lifesenses.org/book-launch-kuching-sarawak-2023/">Life Senses Book Launching</a> at the {% include places/sheratonKch.html %} alongside Anthonius and EJ</li>
		<li>backed {% include people/dell.html %} on keys for his <a href="https://www.instagram.com/reel/C06BayUPk4O/">Yuzu sesh</a></li>
		<li>organizer, and pianist/keyboardist/synthbassist at <a href="https://www.instagram.com/p/C0Onk_KvK6w/">a passion project show</a> i put together with {% include people/alexAng.html %} at {% include places/yuzumusic.html %} that featured the yuzu brothers, {% include people/rania.html %}, myself and alex, and {% include people/faith.html %}</li>
		<li>keyboardist at a company dinner at {% include places/sarawakClub.html %} alongside {% include people/steph.html %} and {% include people/bong.html %} under {% include people/amore.html %}</li>
		<li>pianist at Timothy and Ruthannah's wedding at the {% include places/rhHotelSibu.html %} alongside other musicians under {% include people/prodigy.html %}</li>
		<li>one time at a bargig <a href="https://www.instagram.com/dewi_seriestha/">Dewi</a> (respectfully) crashed for a couple songs haha</li>
		<li>keyboardist at {% include places/bachelor.html %}'s disco night/grand opening with {% include people/ivando.html %} and {% include people/raquel.html %}</li>
		<li>keyboardist at Jeremy & Melissa's wedding at the {% include places/hiltonKch.html %} with {% include people/steph.html %}, {% include people/bong.html %}, {% include people/jackson.html %} and {% include people/roy.html %} under {% include people/amore.html %}</li>
		<li>pianist/keyboardist with {% include people/mozek.html %} at {% include events/wak.html %} 2023's <a href="https://www.instagram.com/p/Cy-X8KDv6am/">Y2K event</a> alongside {% include people/roxy.html %} and {% include people/adruce.html %}</li>
		<li>pianist with/for Ezra Alfandy's jazz quintet at {% include events/wak.html %} 2023's <a href="https://www.instagram.com/p/Cy2QSWwvOc7/">All That Jazz</a> alongside {% include people/azsamad.html %}, {% include people/gena.html %} and the {% include people/3dinda.html %} ft. {% include people/adruce.html %}</li>
		<li>pianist with musicians from {% include people/prodigy.html %} for <a href="https://swinburne.edu.my/events/good-design-week-2023/">Good Design Week 2023</a>'s opening at {% include places/swinburne.html %}</li>
		<li>keyboardist and synthbassist for {% include people/steff.html %} at {% include people/honestmistake.html %}'s <a href="https://www.instagram.com/p/CygBqk2PUC1/?img_index=1">Lonely Hearts Club Kuching</a></li>
		<li>pianist for whitney and lesley's wedding at {% include places/imperialhotelKch.html %} with {% include people/darren.html %} and {% include people/julian.html %} under {% include people/amore.html %}</li>
		<li>keys with/for {% include people/adruce.html %} at {% include events/senikita.html %}/{% include people/jayc.html %}'s <a href="https://www.instagram.com/p/CxPtzXdvNuq/">rnb open mic</a></li>
		<li>keyboardist with/for {% include people/mozek.html %} and {% include people/atadau.html %} for several days at {% include places/laprom.html %}'s <a href="https://www.instagram.com/p/CxH5qqzhSmG/">Oktoberfest 2023</a></li>
		<li>ended the more directorial position at {% include people/rechaus.html %}</li>
		<li>keyboardist for several acts at {% include people/karyabadan.html %}'s <a href="https://www.instagram.com/p/Cw7rAj3vpjX/">Closing Party</a></li>
		<li>pianist for Majlis Kesyukuran Ulangtahun ke-15 at {% include places/islamicCentreSwk.html %} with musicians from {% include people/prodigy.html %}</li>
		<li>keyboardist for a private reunion function at {% include places/sarawakClub.html %} with {% include people/jh.html %} and {% include people/steph.html %} under {% include people/amore.html %}</li>
		<li>keyboardist at Nurshaffira and Fariz's wedding at {% include places/dbelian.html %} with {% include people/tiff.html %} and {% include people/alexMunan.html %}</li>
		<li>piano accompanist for a couple of students from {% include people/unimas.html %}'s {% include people/unimasMusicFaculty.html %} for their final year recitals</li>
		<li>keyboardist at johnny and hazel's wedding reception at a {% include places/shangrilaKch.html %} with {% include people/chien.html %}, {% include people/reening.html %} and {% include people/fransiska.html %}</li>
		<li>pianist for session 1 and 2 of the students of {% include people/unimas.html %}'s {% include people/unimasMusicFaculty.html %}'s <a href="https://www.instagram.com/p/CtEO6L1y3Qd">CIPTA 2023</a></li>
		<li>keyboardist with {% include people/chien.html %} and {% include people/ivando.html %} for a birthday party at {% include places/tanahmasSibu.html %}</li>
		<li>backed {% include people/reening.html %} on keys for his slot at {% include people/haus.html %}'s {% include events/senikita.html %}'s <a href="https://www.instagram.com/p/CseSLf3yo9H/">Kamboh Debah Pokok</a> alongside {% include people/nigel.html %}</li>
		<li>keyboardist with {% include people/chien.html %} and {% include people/nigel.html %} for a birthday party at the {% include places/pullmanMiri.html %}</li>
		<li>started a more directorial position at {% include people/rechaus.html %}</li>
		<li>keyboardist for {% include people/steff.html %} at {% include events/microwaveSibu.html %}, april 2023</li>
		<li>keyboardist for {% include people/faith.html %}'s <a href="https://www.youtube.com/watch?v=sRHWfFLwo30">AOK Session</a></li>
		<li>keyboardist for {% include people/jayc.html %}'s <a href="https://www.instagram.com/p/Cp1Vz8kPIrY/">r&b live sessions 2.0</a></li>
		<li>busked with every other busker at day 2 of {% include people/theGenerations.html %}'s <a href="https://www.instagram.com/p/CowQSWyPG3F/">CU Sarawak</a></li>
		<li>keyboardist for {% include people/adruce.html %} for <a href="https://www.youtube.com/watch?v=jaM9oLt6QmQ">his AOK session</a> at {% include places/aok.html %}</li>
		<li>keyboardist for {% include people/steff.html %} at <a href="https://www.instagram.com/p/CoRSMWtSRBJ/">Brookes's EP launch party</a></li>
		<li>planner and keyboardist/synthbassist for <a href="https://www.instagram.com/p/Coo3i74P3wb/">REBORN</a> by {% include people/rechaus.html %}</li>
		<li>so there was this one time where i received a non-refundable deposit but i didn't have to play the gig because we got cancelled on because of a very silly backline issue</li>
		<li>keyboardist at Mahathir and Ezzati's wedding at {% include places/dewanBaitulmal.html %}</li>
		<li>keyboardist with/for {% include people/mozek.html %} at paul and evonne's wedding at {% include places/bcck.html %}</li>
	</ul>
</div>

<br>

<!-- 2022 -->
<div>
	<h3>2022</h3>
	<ul>
		<li>{% include people/rechaus.html %} <a href="https://www.youtube.com/c/recHAUS">youtube sessions</a> (cattunes and borneo gems)</li>
		<li>whatever tracks/videos {% include people/aerron.html %} needed my help on keys with</li>
		<li>messed around with friends at open mics hosted by {% include people/reening.html %}</li>
		<li>keyboardist with/for {% include people/ivando.html %} for a new year's eve private function</li>
		<li>keyboardist with/for {% include people/faizah.html %}, {% include people/raquel.html %}, {% include people/reening.html %}, {% include people/maxAdam.html %} and {% include people/fifiAdam.html %} for a few nights at {% include places/boni.html %}</li>
		<li>keyboardist with/for {% include people/faizah.html %}, {% include people/maxAdam.html %} and {% include people/fifiAdam.html %} for a night at {% include places/boni.html %}</li>
		<li>keys on {% include people/tiff.html %}'s <a href="https://www.youtube.com/watch?v=q5_ZKFtXEx8">Tutup Lampu</a></li>
		<li>keyboardist with/for {% include people/mozek.html %} for one of the nights at {% include places/laprom.html %}'s <a href="https://www.instagram.com/p/Cln-G2EsGwc/?igshid=Yzg5MTU1MDY=">sunset buffet</a> thingy</li>
		<li>keyboardist with/for {% include people/mozek.html %} at {% include places/urbanResidences.html %} for some kinda private function</li>
		<li>keyboardist with {% include people/chien.html %} and {% include people/ivando.html %} for calvin and ngawan's wedding at {% include places/sarawakClub.html %}</li>
		<li>keys on {% include people/alexMunan.html %}'s <a href="https://www.youtube.com/watch?v=KGtk4k-yzJg">Rahsiaku</a></li>
		<li>keyboardist with/for {% include people/aerron.html %} and {% include people/jon.html %} for <a href="https://www.instagram.com/sunbearfest/">Sunbear Festival 2022</a></li>
		<li>arranger for "Proud of Dayak" (link currently unavailable)</li>
		<li>keyboardist alongside {% include people/mozek.html %} for dakota and inah's wedding at the {% include places/waterfrontKch.html %}</li>
		<li>several "battle of the bands" type performances with {% include people/musicdiary.html %}, winning 3rd place overall and best composition</li>
		<li>violinist at my cousin's engagement ceremony at the {% include places/raiaKch.html %}</li>
		<li>keys on {% include people/alexNg.html %}'s <a href="https://www.youtube.com/watch?v=3GbZZGda5vE">Us</a></li>
		<li>keyboardist with/for {% include people/mozek.html %} for a couple days at {% include places/laprom.html %}'s <a href="https://www.instagram.com/p/CifK5HDLGZS/">Oktoberfest 2022</a></li>
		<li>backed nearly every act for <a href="https://www.instagram.com/p/ChjhYm_vIX0/">BREATHE.</a>, an end of program showcase by the resident artists of {% include people/rechaus.html %}</li>
		<li>stage crew(ish) for {% include people/projectAmnesia.html %}'s <a href="https://www.facebook.com/events/1447486765697736">Black Parade</a></li>
		<li>backed several acts on keys for {% include people/haus.html %}'s {% include events/senikita.html %} open mic</li>
		<li>joined {% include people/sunwayOrchestra.html %} for one (1) rehearsal</li>
		<li>accompanist for a couple graduating {% include people/unimas.html %} music students</li>
		<li>a violinist in {% include people/prodigy.html %}'s malaysia day music video shoot</li>
		<li>keyboardist for several acts in arman's <a href="https://www.instagram.com/p/Cdnj7EFJbeU/?utm_source=ig_web_copy_link">POPUP.21</a>, double featuring {% include people/leaism.html %} and {% include people/lofrine.html %}</li>
		<li>keyboardist with {% include people/dreamMachine.html %} (based in sarawak) at/for {% include events/siniawanArtsFest.html %} 2022</li>
		<li>a pianist in {% include people/prodigy.html %}'s aidilfitri 2022 music video shoot</li>
		<li>keyboardist for {% include people/tiff.html %}'s <a href="https://www.youtube.com/watch?v=DclaM19eQfI">cover of everything stays</a></li>
		<li>keyboardist/synth bassist for a few nights at {% include places/ccKch.html %} with hanim, awie and stainley</li>
	</ul>
</div>

<br>

<!-- 2021 -->
<div>
	<h3>2021</h3>
	<ul>
		<li>{% include people/rechaus.html %} <a href="https://www.youtube.com/c/recHAUS">youtube sessions</a> (cattunes and borneo gems)</li>
		<li>whatever tracks/videos {% include people/aerron.html %} needed my help on keys with</li>
		<li>keys on {% include people/dayton.html %}'s <a href="https://www.youtube.com/watch?v=qbjQsZ2Bm44">Jauh</a></li>
		<li>a violinist in {% include people/prodigy.html %}'s sarawak day music video shoot</li>
		<li>recording tech for a friend's choir</li>
		<li>{% include people/rechaus.html %}'s <a href="https://www.youtube.com/watch?v=o9c8Jdnwlxo">gawai music video</a></li>
		<li>keyboardist for a livestreamed local artist showcase with {% include people/rechaus.html %}</li>
	</ul>
</div>

<br>

<!-- 2020 -->
<div>
	<h3>2020</h3>
	<ul>
		<li>a violinist in {% include people/imh.html %}'s (i think?) sarawak day music video shoot</li>
		<li>stage crew for <a href="https://www.facebook.com/events/haus-kch/tender-traps-w-yung-kai/779217532910765/">tender trap</a> at {% include people/haus.html %}</li>
		<li>ended part time teaching at {% include people/yadah.html %}</li>
		<li>hotel bar pianist for a couple months before <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">an unfortunate event</a> kicked in</li>
	</ul>
</div>

<br>

<!-- 2019 -->
<div>
	<h3>2019</h3>
	<ul>
		<li>pianist for derek and yekho's wedding at nu er hong, the {% include places/pullmanKch.html %} alongside marsya</li>
		<li>started part time teaching at {% include people/yadah.html %}</li>
		<li>synth bassist/keyboardist with {% include people/theFingerprints.html %} for <a href="https://kuchingborneo.info/the-springs-oktoberfest/">oktoberfest at the spring</a></li>
		<li>a violinist at natasha and wilson's wedding at the {% include places/riversideKch.html %} alongside musicians from {% include people/imh.html %}</li>
		<li>synth bassist/keyboardist for {% include people/theFingerprints.html %}, opening act for <a href="http://www.kuchingjazzfestival.com/">KWJF 2019</a></li>
		<li>synth bassist/keyboardist for {% include people/theFingerprints.html %}, winning band of KWJF 2019 band search</li>
		<li>a violinist in {% include events/sifma.html %} 2019</li>
		<li>assisted the Junior Music Course and Junior Violin Course at {% include people/imh.html %}</li>
		<li>ALCM in piano performance</li>
	</ul>
</div>

<br>

<!-- 2018 -->
<div>
	<h3>2018</h3>
	<ul>
		<li>Keyboardist for one of the bands in a private university music party</li>
		<li>Member of performing team at college music club</li>
		<li>Assistant quartermaster at college music club</li>
		<li>Live at Levis band search semifinalist</li>
	</ul>
</div>

<br>

<!-- 2017 -->
<div>
	<h3>2017</h3>
	<ul>
		<li>helped run virtual open mic events for an online arts community</li>
	</ul>
</div>

<br>

<!-- 2016 -->
<div>
	<h3>2016</h3>
	<ul>
		<li>DipLCM in violin performance</li>
		<li>teacher's day performance</li>
		<li>handled audio/video/stage stuff with a few other dudes in my school's assembly hall</li>
	</ul>
</div>

<br>

<!-- 2015 -->
<div>
	<h3>2015</h3>
	<ul>
		<li>left PSM national youth orchestra</li>
	</ul>
</div>

<br>

<!-- 2010 -->
<div>
	<h3>2010</h3>
	<ul>
		<li>joined PSM national youth orchestra</li>
	</ul>
</div>

<br>

<!-- 2004 -->
<div>
	<h3>2004</h3>
	<ul>
		<li>started music lessons</li>
	</ul>
</div>

<br>

<!-- 1999 -->
<div>
	<h3>1999</h3>
	<ul>
		<li>i was born</li>
	</ul>
</div>
