        <ul>
            <li><a href="http://stallman.org/">stallman.org</a></li>
            <li><a href="https://billwurtz.com/">billwurtz.com</a></li>
            <li><a href="https://vulfpeck.com/">vulfpeck.com</a></li>
            <li><a href="http://yaml.org/">yaml.org</a></li>
            <li><a href="http://www.oldsidelinghill.com/2021.html">oldsidelinghill.com</a></li>
            <li><a href="https://ben.balter.com/">ben.balter.com</a></li>
            <li><a href="https://www.robotsoup.com/">robotsoup.com</a></li>
            <li><a href="https://tiana.computer/">tiana.computer</a></li>
            <li>practically anything hosted off of <a href="https://neocities.org/">neocities</a></li>
            <li><a href="https://ari.computer/">ari.computer</a></li>
        </ul>