<nav>
	<a href="/"{% if page.url == "/" %} style="color: #008ae6;"{% endif %}>
	Home</a> | 
	<a href="/things-i-make"{% if page.url == "/things-i-make.html" %} style="color: #008ae6;"{% endif %}>
	Things that i make and do</a> | 
	<a href="/things-i-like"{% if page.url == "/things-i-like.html" %} style="color: #008ae6;"{% endif %}>
	Things that i like</a> | 
	<a href="/about"{% if page.url == "/about.html" %} style="color: #008ae6;"{% endif %}>
	About me</a> | 
	<a href="/contact"{% if page.url == "/contact.html" %} style="color: #008ae6;"{% endif %}>
	Contact me</a> | 
	<a href="/misc"{% if page.url == "/misc.html" %} style="color: #008ae6;"{% endif %}>
	misc. things</a> | 
	<a href="/thanks"{% if page.url == "/thanks.html" %} style="color: #008ae6;"{% endif %}>
	Thanks</a>
</nav>
