<nav>
	<a href="/index.html" {% if page.url == "/" %}style="color: #008ae6;"{% endif %}>
	Home</a> | 
	<a href="/things-i-make.html" {% if page.url == "/things-i-make.html" %}style="color: #008ae6;"{% endif %}>
	Things that i make and do</a> | 
	<a href="/things-i-like.html" {% if page.url == "/things-i-like.html" %}style="color: #008ae6;"{% endif %}>
	Things that i like</a> | 
	<a href="/about.html" {% if page.url == "/about.html" %}style="color: #008ae6;"{% endif %}>
	About me</a> | 
	<a href="/contact.html" {% if page.url == "/contact.html" %}style="color: #008ae6;"{% endif %}>
	Contact me</a> | 
	<a href="/misc.html" {% if page.url == "/misc.html" %}style="color: #008ae6;"{% endif %}>
	misc. things</a> | 
	<a href="/thanks.html" {% if page.url == "/thanks.html" %}style="color: #008ae6;"{% endif %}>
	Thanks</a>
</nav>