---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>erfan's website</title>
	<link rel="stylesheet" href="/assets/css/erfanswebsite.css">
</head>
<body>

<br><br>

<!-- banner sorta top of the page-->
<div>
	<h1 style="text-align: center;"><u>Hi, i'm erfan and this is going to be my website!</u></h1>
	<h3 style="text-align: center;">Have a look around if you'd like, please don't break anything and do let me know if something looks broken on your device, thanks!</h3>
</div>

<br><br>
<hr>
<br>

<!-- navbar sorta places to click to-->
{% include navbar.html %}

<br>
<hr>
<br><br>

<!-- content -->
{{ content }}

<br><br>
<hr>

<!-- footer -->
<div>
	<p>This page was first created: {{ page.firstCreated }}</p>
	<p>This page was last &nbsp;changed: {{ page.lastChanged }}</p>
</div>
</body>
</html>